body{
    background-color: rgb(163, 18, 74);
}
#form{
    background-color:yellow;
    width:25%;
    margin:120px auto;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(61, 5, 24);
    border-radius: 10px;
}
#btn{
    background-color:rgb(128, 10, 65);
    padding: 10px;
    font-size: large;
    border-radius: 8px;
}
@media screen and (max-width:700px) {
    #form{
        width: 65%;
        padding: 40px;
    }
}